#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/*
 * Layer map
 *   0  base letters          green    (always active)
 *   1  bluetooth profiles    red      combo 10+12+17 from layer 0, same combo to leave
 *   2  navigation / symbols  blue     combo 7+9 from layer 0, combo 0+2 to leave
 *   3  digits 1-9            magenta  hold key 15 on layer 2
 *   4  digit 0 / symbols     yellow   hold key 14 on layer 2
 *   5  function keys         cyan     hold key 17 on layer 2
 *
 * Key positions (see tiny18.dtsi default_transform):
 *   left hand  0 1 2 / 6 7 8 9 / 14 15
 *   right hand 3 4 5 / 10 11 12 13 / 16 17
 */

/ {
    combos {
        compatible = "zmk,combos";

        /* Letter combos on the base layer: 17 letters sit on keys, 9 are combos. */
        q {
            bindings = <&kp Q>;
            key-positions = <0 1>;
            layers = <0>;
        };

        t {
            bindings = <&kp T>;
            key-positions = <1 2>;
            layers = <0>;
        };

        y {
            bindings = <&kp Y>;
            key-positions = <3 4>;
            layers = <0>;
        };

        p {
            bindings = <&kp P>;
            key-positions = <4 5>;
            layers = <0>;
        };

        g {
            bindings = <&kp G>;
            key-positions = <8 9>;
            layers = <0>;
        };

        h {
            bindings = <&kp H>;
            key-positions = <10 11>;
            layers = <0>;
        };

        b {
            bindings = <&kp B>;
            key-positions = <14 15>;
            layers = <0>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <8 14>;
            layers = <0>;
        };

        x {
            bindings = <&kp X>;
            key-positions = <9 15>;
            layers = <0>;
        };

        /* Punctuation on the right thumbs. */
        comma {
            bindings = <&kp COMMA>;
            key-positions = <10 16>;
            layers = <0>;
        };

        period {
            bindings = <&kp PERIOD>;
            key-positions = <11 17>;
            layers = <0>;
        };

        /* Japanese/English input toggle, configured as Ctrl+Space in both OSes. */
        jp_en {
            bindings = <&kp LC(SPACE)>;
            key-positions = <6 14>;
            layers = <0>;
        };

        lsft {
            bindings = <&kp LSHFT>;
            key-positions = <6 7>;
            layers = <0>;
        };

        /* Available on both the base and the navigation layer. */
        f10 {
            bindings = <&kp F10>;
            key-positions = <2 6>;
            layers = <0 2>;
        };

        lalt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <2 15>;
            layers = <0 2>;
        };

        /* Layer switching. Entry and exit use the same gesture for layer 1. */
        to_nav {
            bindings = <&to 2>;
            key-positions = <7 9>;
            layers = <0>;
        };

        to_bt {
            bindings = <&to 1>;
            key-positions = <10 12 17>;
            layers = <0>;
        };

        from_bt {
            bindings = <&to 0>;
            key-positions = <10 12 17>;
            layers = <1>;
        };

        from_nav {
            bindings = <&to 0>;
            key-positions = <0 2>;
            layers = <2>;
        };

        nav_tab {
            bindings = <&kp TAB>;
            key-positions = <0 6>;
            layers = <2>;
        };

        /*
         * Editing shortcuts as whole chords: the navigation layer holds no
         * letters, so Ctrl plus a letter cannot be composed there.
         * copy/paste are subsets of undo/cut, so they resolve on key release.
         */
        copy {
            bindings = <&kp LC(C)>;
            key-positions = <6 14>;
            layers = <2>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <6 15>;
            layers = <2>;
        };

        undo {
            bindings = <&kp LC(Z)>;
            key-positions = <6 8 14>;
            layers = <2>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <6 9 15>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp W  &kp E  &kp R  &kp U  &kp I  &kp O  &kp A  &kp S  &kp D  &kp F  &kp J  &kp K  &kp L  &mt RIGHT_SHIFT ENTER  &kp C  &kp V  &kp N  &kp M
            >;
        };

        bluetooth_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        nav_layer {
            bindings = <
&kp ESCAPE  &kp UP_ARROW  &kp BACKSPACE  &kp F10  &kp F11  &kp F12  &kp LEFT_CONTROL  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp COMMA  &kp PERIOD  &kp SLASH  &kp LC(SPACE)  &lt 4 SPACE  &lt 3 ENTER  &kp LEFT_GUI  &mo 5
            >;
        };

        digit_layer {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N1  &kp N2  &kp N3  &kp AT  &kp N4  &kp N5  &kp N6  &kp N4  &kp N5  &kp N6  &kp N9  &trans  &trans  &kp N7  &kp N8
            >;
        };

        symbol_layer {
            bindings = <
&kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS  &kp PLUS  &kp HASH  &kp N0  &kp COMMA  &kp PERIOD  &kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_DOWN  &trans  &trans  &kp TILDE  &kp PRINTSCREEN
            >;
        };

        function_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F10  &kp F11  &kp F12  &kp F4  &kp F5  &kp F6  &kp F7  &trans  &trans  &trans  &trans  &kp F8  &kp F9  &trans  &trans
            >;
        };
    };
};
